<div>
  <h1 class="head-text">
    My Pantry
  </h1>
</div>

<hr>

<form action="/insert_pantry" class="row g-3">
  <div class="col-md-6">
    <label for="inputItem" class="form-label">Item</label>
    <input type="text" class="form-control" id="inputItem" name="query_item">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-success">Add Ingredient</button>
  </div>
</form>

<hr>

<br>

<%= render partial: "pantries/pantries" %>
