<div>
  <h1 class="head-text">
    My Pantry
  </h1>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new pantry
    </h2>

    <form action="/insert_pantry" method="post">
      <div>
        <label for="item_box">
          Item
        </label>

        <input type="text" id="item_box" name="query_item">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create pantry
      </button>
    </form>
  </div>
</div>


<hr>

<br>

<%= render partial: "pantries/pantries" %>
