<div>
  <div>
    <h1>
      List of all categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new category
    </h2>

    <form action="/insert_category" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create category
      </button>
    </form>
  </div>
</div>

<hr>
